@import url("../../../assets/less/constant.less");


:global(.slick-dots) {
    bottom: 10px;
}

.banner-container {
    background: url("/public/img/lazy.png") no-repeat center;
    background-size: cover;
    min-height: 720px;
    position: relative;
    img {
        width: 100%;
    }
}

p {
    color: #070707;
}
