[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony He (TonyHey)
[access "refs/for/refs/*"]
	read = group user/Tony He (TonyHey)
	push = group user/Tony He (TonyHey)
	label-Code-Review = -2..+2 group user/Tony He (TonyHey)
	label-Verified = -1..+1 group user/Tony He (TonyHey)
	rebase = group user/Tony He (TonyHey)
	removeReviewer = group user/Tony He (TonyHey)
	submit = group user/Tony He (TonyHey)
[access "refs/heads/*"]
	read = group user/Tony He (TonyHey)
	create = group user/Tony He (TonyHey)
	push = +force group user/Tony He (TonyHey)
	pushMerge = group user/Tony He (TonyHey)
[access "refs/tags/*"]
	push = group user/Tony He (TonyHey)
	push = +force group user/Tony He (TonyHey)
