.main {
    overflow-x: hidden;
    // max-width: 640px;
}
.search {
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    .search-des {
        font-size: 32px;
        margin-bottom: 18px;
        p {
            color: #FFFFFF;
            text-indent: 2px;
            &:first-child {
                color: #F5A623;
            }
        }
    }
    .search-box {
        .search-btn{
            display: block;
            font-size: 24px;
            height: 72px;
            line-height: 72px;
            padding: 0 48px 0 72px;
            border-radius: 20px;
            box-shadow: 0px 5px 6px 0 #e0e0e0;
            background-color: #ffffff;
            position: relative;
            color: #242424;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .search-icon {
            font-size: 44px;
            margin-right: 6px;
            position: absolute;
            left: 20px;
        }
    }
}
.top-nav {
    color: #fff;
    background: transparent;
    border-bottom: none;
}